<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        &nbsp;<img src="https://risibank.fr/cache/stickers/d912/91208-full.png" width="10%" height="50%">
        <h1 class="title is-1">&nbsp;Garagitos</h1>
    </div>
    <div id="menu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a [routerLink]="['/']" class="button is-light">
                        Home
                    </a>
                    <a class="button is-light">
                        Affichage client
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>